.header {
  height: 40px;
}

#cruise-map {
  height: 250px;
  margin-left: 25px;
  border-style: solid;
  border-color: #ddd;
  border-radius: 4px;
}

#speed {
  height: 125px;
}

#ts {
  height: 125px;
}

#prosyn {
  height: 125px;
}

#size {
  height: 165;
}

#abundance {
  height: 250;
}
